<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=+91-8989520294" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Matrimonial" />
    <meta property="og:type" content="Match Making" />
    <meta property="og:url" content="http://matrimonial.com/" />
    <meta property="og:description" content="I am match maker" />
    <meta property="og:image" content="http://Project-x.com/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Home - Happy Events" />
	<title>Matrimonial | {{title}} </title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/vendors/fontawesome/css/fontawesome-all.min.css'/>
  <script type="text/javascript" src="../js/vendors/jquery.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 

  
	<link rel='stylesheet' href='/css/style.css' />
  
</head>

<body>
{{> header}}
{{{body}}}
{{> footer}}
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="../js/form-validation.js"></script>
</body>
</html>
