<div class="form-wrapper">
	<form action="/save-profile" method="post" enctype="multipart/form-data">
		<input type="file" name="photo" id="photo">
		<input type="submit" value="Save">
	</form>
</div>