<section class="gallery">
	<div class="row gallery__row">
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
	</div>
	<div class="row gallery__row">
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
	</div>
	<div class="row gallery__row">
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 gallery__col">
			<img src="images/profile-icon.jpg" class="gallery__image" alt="image lodading issue">
			<div class="gallery__content">
				<h3 class="gallery__heading">Jignesh Modi</h3>
				<p class="gallery__discription">Hindi, English Mharathi</p>
			</div>
		</div>
	</div>
	
</section>