<section class="banner-display">
<div class="banner-display">
	<div class="map">
  
    
  </div>
  <div class="sidenav">
      <ul class="sidenav__city-list">
        
      </ul>
  </div>
</div>
  
</section>
  
</section>
<section class="about-us">
  <h2 class="about-us__heading">
    About Us
  </h2>
  <p class="about-us__content">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, sint nihil aperiam maiores quis dolorum dolorem mollitia amet, ad, maxime culpa tempora assumenda quos possimus labore doloremque doloribus accusantium aspernatur.<br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, libero! Ratione ullam fugiat temporibus unde maxime, aliquam praesentium odit optio voluptatibus eveniet laborum, modi impedit itaque obcaecati cumque dolorum 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quod voluptate laborum culpa! Blanditiis quaerat autem nam repellendus ipsa qui fugit sunt, non, doloribus! Laudantium iste atque hic soluta debitis.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis esse excepturi possimus quo, rem fugit, blanditiis neque praesentium eos cum amet in numquam consectetur, a maxime facilis assumenda ipsa commodi.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quae incidunt iure, necessitatibus nam. Minima commodi, repellendus voluptate, voluptatum, eligendi sed ipsum optio quaerat totam impedit delectus officia provident possimus.
  </p>
  
</section>
<section class="contact-us">
<h2 class="contact-us__heading">
    Contact Us
</h2>
<div class="row">
<div class="contact-us__form col-md-8 col-sm-12">
  <form class="form-horizontal" action="/contact-us" method="post">
  <div class="row">
    <div class="form-group form-group--inline col-md-6 col-sm-12">
      <label class="control-label col-md-12" for="name">Name:</label>
      <div class="col-md-12">
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
    </div>
    <div class="form-group form-group--inline col-md-6 col-sm-12">
      <label class="control-label col-md-12" for="email">Email:</label>
      <div class="col-md-12" style="padding-right: 0px">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
  </div>
    
    <div class="form-group">
      <label class="control-label col-md-12" for="message">Message:</label>
      <div class="col-md-12">
        <textarea rows="6" id="message" name="message" placeholder="Type your message here..." class="form-control col-sm-12 col-md-12"></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-md-12">
        <button type="submit" class="btn btn-default btn1">submit</button>
      </div>
    </div>
    </div>
  </form>

<div class="contact-us__address col-md-4 col-sm-12">
<h2 >Contact Number</h2>
<h5><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;:+91-8989520294</h5>
<h5><i class="fas fa-phone"></i> : 07325-254264</h5>
<h2 class="contact-us__address--details"><i class="fas fa-map-marker"></i> Address</h2>
<h5>22/7 Kila road, <br> Burhanpur,  Madhya Pradesh <br> Pin-code: 450331</h5>
<div class="social-media">
  <a href="#" class="social-media__icon social-media__icon--facebook"></a>
  <a href="#" class="social-media__icon social-media__icon--youtube"></a>
  <a href="#" class="social-media__icon social-media__icon--instagram"></a>
</div> 
</div>
</div>
  
</div>



</section>

<script src="js/map.js" async defer></script>
<script src="js/sidenav.js" async defer></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClPj580tI_mJINDJxnWvfv91b7AnnCdEo&callback=initMap"
    async defer></script>
