<section class="profile">
	<div class="row">
		<div class="profile__img col-sm-12 col-md-4">
			<img src="../images/pic-main.jpg" class="profile__pic-main" alt="Profile-main"/ >
			<img src="../images/pic-sub1.jpg" class="profile__pic-sub1" alt="Profile-sub1"/ >
			<img src="../images/pic-sub2.jpg" class="profile__pic-sub2" alt="Profile-sub2"/ >	
			
		</div>
		<div class="profile__discription col-sm-12 col-md-8">
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Name :</h4>
				<p class="details col-sm-6 col-md-9"> Lorem ipsum </p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Age :</h4>
				<p class="details col-sm-6 col-md-9"> 28</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Sex :</h4>
				<p class="details col-sm-6 col-md-9"> Male</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Height :</h4>
				<p class="details col-sm-6 col-md-9"> 5 ft 1 inch</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Weight(Kg) :</h4>
				<p class="details col-sm-6 col-md-9"> 80 </p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Blood group :</h4>
				<p class="details col-sm-6 col-md-9"> A+ </p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Sex :</h4>
				<p class="details col-sm-6 col-md-9"> Male</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Date of Birth :</h4>
				<p class="details col-sm-6 col-md-9"> 28 April 1990</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Time of Birth :</h4>
				<p class="details col-sm-6 col-md-9"> 12:31 pm</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Place of Birth :</h4>
				<p class="details col-sm-6 col-md-9"> Ayodha, India</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Bio :</h4>
				<p class="details col-sm-6 col-md-9"> Live without Goal is worthless</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Livelihood :</h4>
				<p class="details col-sm-6 col-md-9"> Self-employed</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3"> Education :</h4>
				<p class="details col-sm-6 col-md-9"> B.tech (2016 Batch) - 8.31/10</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Annual Income :</h4>
				<p class="details col-sm-6 col-md-9"> 10 lakhs</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Current City :</h4>
				<p class="details col-sm-6 col-md-9"> Burhanpur</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Religion :</h4>
				<p class="details col-sm-6 col-md-9"> Hindi</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Caste :</h4>
				<p class="details col-sm-6 col-md-9"> Gujrati</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Creed/Gotra :</h4>
				<p class="details col-sm-6 col-md-9"> Bhadhuciya</p>
			</div>
			
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Hobby :</h4>
				<p class="details col-sm-6 col-md-9"> Reading | Politics | Economics</p>
			</div>
			<div class="row">
				<h4 class="heading col-sm-6 col-md-3">Discription :</h4>
				<p class="details col-sm-6 col-md-9"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nisi ipsum similique rem id quidem ut illum, magni, qui iure minima possimus ullam repellendus aliquid et, veritatis magnam autem sit!</p>
			</div>
		</div>
	</div>
</section>