.registration-form{ 
    margin: 15px 25%;
	width: 50%;
	background-color: white;
    border: 1px solid $primary-color1;
    border-radius: 5px;
    min-width: 500px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
	& :after,:before{
		dislay: block;
		content: "";
		clear: both;		
	};

	&__heading{
		padding: 20px;
		font-weight: bold;
		color: $primary-color1;
	}
 }

 #account {
 	margin: 10px 15px;
 }
 

